{% set dropdownOptionsType = {
    "0":"Staff",
    "1": "Jouers",
} %}

{% set dropdownOptionsConnexion = {
    "0": "jamais connecté",
    "1": "< a 1 semaine",
    "2": "Entre 1 semaine et 1 mois"
} %}
<div class="row">
	<div class="col-md-4">
		<div class="d-flex gap-3">
			{% include 'components/atoms/dropdown.html.twig' with {
    filter: 'Type',
    title: 'Filtrer par type',
    dropdownOptions: dropdownOptionsType,
    id: 'Type',
} %}

			{% include 'components/atoms/dropdown.html.twig' with {
    filter: 'Connexion',
    title: 'Filtrer par date de connexion',
    dropdownOptions: dropdownOptionsConnexion,
    id: 'Connexion'
} %}
		</div>
	</div>
</div>
