{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
    <div class="row">
     <div class="col-12">
	  {% include 'components/templates/members.html.twig' %}
    </div>
    </div>
{% endblock %}
