$sp-header-color: #152D4B;
$sp-search-color: #778EB9;
$sp-primary-color: #2559F2;
$sp-text-light: #C8D5EC;
$sp-text-white: #FFFFFF;
$sp-text-whiter: #DFE5EC;
$sp-text-sucess: #29D48C;
$sp-text-danger: #EF4948; 


$sp-bg-light: #f0f0f0;

$Kanit: "Kanit", sans-serif;


$phone:  576px;
$tablet: 768px;
