a.sp-btn-refresh {
    display: flex;
    align-items: center;
    gap: .5rem;
    svg {
        @include transition(transform 0.3s ease-in-out)
    }

    &:hover svg {
        @include transform(rotate(180deg));
    }
}