.sp-dropdown{
    padding: 0.8rem 1.5rem;
    @include border-radius(7rem);
}
.dropdown-menu.show {
    padding: 2rem;
    width: max-content;
    font-weight: 300;
    font-size: 1.6rem;
    box-shadow: 0 .7rem 1.5rem -1rem #2559F280;
    .form-check-label {
        padding-left: .8rem;
    }
     .form-check-input {
        border: .2rem solid #C8D5EC;
    }
}

