<div class="row">
	<div class="col-lg-12">
		{% include 'components/atoms/title-heading.html.twig' with {'text': 'Membres du club'} %}
	</div>
	<div class="col-lg-12">
		{% include 'components/atoms/search-bar.html.twig'  %}
	</div>
	<div class="col-lg-12 mb-5">
		{% include 'components/molecules/dropdown_menu.twig' %}
	</div>
</div>
